source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0, netstandard2.1

nuget Expecto
nuget Expecto.FsCheck
nuget FSharp.Control.FusionTasks
nuget MessagePack
nuget MessagePack.FSharpExtensions
nuget Microsoft.NET.Test.Sdk
nuget System.IO.Pipelines
nuget YoloDev.Expecto.TestSdk